*.iml
.gradle
.kotlin
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
release_signature.jks
/others/release_keystore.properties
client_secret_google_auth.json
memory_paper.txt
release_signature_key.png
/app/src/main/res/values/strings_unit_ids.xml
/others/store_info/
/app/src/main/java/app/core/engines/backend/
/others/studio_configs/settings_1.zip
