*.iml
.gradle
.kotlin
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
release_signature.jks
/app/src/main/res/values/strings_unit_ids.xml
/others/store_info/
/app/src/main/java/app/core/engines/backend/
/others/studio_configs/settings_1.zip
